!*.ipynb
!README.md
!archive/
!archive/**
!corpus/
!corpus/**
!data/
!data/**
!fonts/
!fonts/**
!config/
!config/**
!notebooks/**
!notebooks/
!scripts/
!scripts/**
output/
.idea/
PaddleOCR/
TextRecognitionDataGenerator/
inference/
model/